PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce
JWT_ACCESS_SECRET=34pU0v6yrdcRjapmN4774rdbGTfFwyuycgaEqhORmUT
JWT_REFRESH_SECRET=j0j3UWvPVo3Aga1fqARv3KxflfMeQPOaUvRGrlxB5LW
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=your_email@gmail.com
NODE_ENV=development